[submodule "com_pro/c_snack_shop"]
    path = com_pro/c_snack_shop
    url = https://github.com/khemingkapat/c_snack_shop.git
    ignore = dirty

[submodule "dsa/benchmark_sorting_algo"]
    path = dsa/benchmark_sorting_algo
    url = https://github.com/khemingkapat/benchmark_sorting_algo.git
    ignore = dirty

[submodule "db_system/been_chillin"]
    path = db_system/been_chillin
    url = https://github.com/khemingkapat/been_chillin.git
    ignore = dirty

[submodule "data_models/csgo_model"]
    path = data_models/csgo_model
    url = git@github.com:khemingkapat/csgo_model.git
    ignore = dirty
